<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header *ngIf="!util.appClosed">
  <ion-toolbar>
    <!-- <ion-title>Our Orders</ion-title> -->
    <div class="segment_div">
      <ion-label [class.active]="segment == 1" (click)="onClick(1)"> {{util.getString('New Order')}} </ion-label>
      <ion-label [class.active]="segment == 2" (click)="onClick(2)"> {{util.getString('Ongoing Order')}} </ion-label>
      <ion-label [class.active]="segment == 3" (click)="onClick(3)"> {{util.getString('Past Order')}} </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-closed *ngIf="util.appClosed"></app-closed>

  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-label>

  </ion-item>

  <div class="main_content_div" *ngIf="!util.appClosed">

    <div class="content_div" *ngIf="segment === 1">
      <p *ngIf="!dummy?.length && !newOrders?.length" class="ion-text-center"> {{util.getString('No New Orders Found')}}
      </p>
      <div class="card_div" *ngFor="let item of newOrders" (click)="goToOrder(item)">

        <div class="image_div">
          <img [src]="api.mediaURL+ item.orders[0].cover" onError="this.src='assets/imgs/user.png'">
        </div>
        <div class="desc_div">
          <ion-label style="font-weight: bold;color: gray;font-size: 12px;"> {{util.getString('ORDER')}} #{{item.id}}
          </ion-label>
          <div *ngIf="item.orders?.length" class="border_bottom">
            <p *ngFor="let order of item.orders;let ol = index" class="items">
              <span>{{order.name}} <span *ngIf="order.size ==='1'"> - {{order.variations[0].items[order.variant].title}}
                </span> </span>
              <span>X {{order.quantiy}}</span>
            </p>

          </div>
          <ion-label class="datetime">{{ item.date_time}}</ion-label>
        </div>
        <div class="status">
          {{item.storeStatus}}
        </div>
      </div>

    </div>

    <div class="content_div" *ngIf="segment === 2">
      <p *ngIf="!dummy?.length && !onGoingOrders?.length" class="ion-text-center"> {{util.getString('No Orders Found')}}
      </p>
      <div class="card_div" *ngFor="let item of onGoingOrders" (click)="goToOrder(item)">

        <div class="image_div">
          <img [src]="api.mediaURL+ item.orders[0].cover" onError="this.src='assets/imgs/user.png'">
        </div>
        <div class="desc_div">
          <ion-label style="font-weight: bold;color: gray;font-size: 12px;"> {{util.getString('ORDER')}} #{{item.id}}
          </ion-label>
          <div *ngIf="item.orders?.length" class="border_bottom">
            <p *ngFor="let order of item.orders;let ol = index" class="items">
              <span>{{order.name}} <span *ngIf="order.size ==='1'"> - {{order.variations[0].items[order.variant].title}}
                </span> </span>
              <span>X {{order.quantiy}}</span>
            </p>

          </div>
          <ion-label class="datetime">{{ item.date_time}}</ion-label>
        </div>
        <div class="status">
          {{item.storeStatus}}
        </div>
      </div>

    </div>

    <div class="content_div" *ngIf="segment === 3">
      <p *ngIf="!dummy?.length && !oldOrders?.length" class="ion-text-center"> {{util.getString('No Old Orders Found')}}
      </p>
      <div class="card_div" *ngFor="let item of oldOrders" (click)="goToOrder(item)">

        <div class="image_div">
          <img [src]="api.mediaURL+ item.orders[0].cover" onError="this.src='assets/imgs/user.png'">
        </div>
        <div class="desc_div">
          <ion-label style="font-weight: bold;color: gray;font-size: 12px;"> {{util.getString('ORDER')}} #{{item.id}}
          </ion-label>
          <div *ngIf="item.orders?.length" class="border_bottom">
            <p *ngFor="let order of item.orders;let ol = index" class="items">
              <span>{{order.name}} <span *ngIf="order.size ==='1'"> - {{order.variations[0].items[order.variant].title}}
                </span> </span>
              <span>X {{order.quantiy}}</span>
            </p>
          </div>
          <ion-label class="datetime">{{ item.date_time}}</ion-label>
        </div>
        <div class="status">
          {{item.storeStatus}}
        </div>
      </div>

    </div>

  </div>
</ion-content>